<h1>Edit Your Restaurant</h1>
<form action="/restaurants/<%= @restaurant.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">
    
  <label> Restaurant Name: </label>
  <input type="text" name="restaurant[name]" value="<%= @restaurant.name %>"> </br>
  
  <label> Restaurant Type: </label>
  <input type="text" name="restaurant[cuisine]" value="<%= @restaurant.cuisine %>"> </br>
  
  <input type="submit" value="Edit">
</form>
<br>
<form method="post" action="/restaurants/<%= @restaurant.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete This Restaurant">
</form>