<h1>Your Logged Restaurants</h1>
<% unless !@error_message %>
  ** You don't have permission to view that restaurant. Select a restaurant below for more detail**<br>
  <br><br>
<% end %>

<% if @my_restaurants == [] %>
  <br><br><br>
  Looks like you haven't logged any restaurants yet, would you like to <a href="/restaurants/new">add a new one?</a>  
<% else %>
  <% @my_restaurants.each do |r| %>
    Restaurant Name: <%= r.name %><br>
    Restaurant Type: <%= r.cuisine %> <br>
    Restaurant Review: <%= r.review %> <br>
    <a href="/restaurants/<%= r.id %>">Details</a><br><br>
  <% end %>
<% end %>

<form action="/restaurants/new">
  <input type="submit" value="New Restaurant">
</form>