<h1>Your Logged Restaurants</h1>
<% unless !@error_message %>
  ** You don't have permission to view that restaurant. Select a restaurant below for more detail**<br>
  <br><br>
<% end %>

<% if @my_restaurants == [] %>
  <br><br><br>
  Looks like you haven't logged any restaurants yet, would you like to add a new one?<br><br>   
<% else %>
  <% @my_restaurants.each do |r| %>
    Restaurant Name: <%= r.name %><br>
    Restaurant Type: <%= r.cuisine %> <br>
    Restaurant Review: <%= r.review %> <br>
    <form action="/restaurants/<%= r.id %>">
      <input type="submit" value="Details">
    </form>
    <br><br>
  <% end %>
<% end %>

<form action="/restaurants/new">
  <input type="submit" value="New Restaurant">
</form>