<h1>Your Logged Restaurants</h1>
<% @my_restaurants.each do |r| %>
  Restaurant Name: <%= r.name %><br>
  Restaurant Type: <%= r.cuisine %> <br>
  <% if r.user %>
    Added By User: <%= r.user.username %> <br><br>
  <% else %>
    Added By User: Unknown
  <% end %>
<% end %>