<h1>Create A New Restaurant</h1>
<% unless @error_message != "invalid input" %>
  **All fields are required**<br><br>
<% end %>

<form action="/restaurants" method="POST">
  <label> Restaurant Name: </label>
  <input type="text" name="name"> </br>
  
  <label> Restaurant Type: </label>
  <input type="text" name="cuisine"> </br>
  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <input type="submit" value="Create">
</form>